$textColor : 60px;
$colorPrimari:rgb(255, 255, 255);
$ColorSecundari: rgb(0, 0, 0);
$grandients : linear-gradient(45deg, rgb(0, 89, 255) 60%, rgb(32, 94, 240));
$borderRadius: 2rem;
$textBase:20px;
$textLarge : $textBase +80px ;

$colorBg: #f1f1f1;
$colorLight: #fff;
$colorContrast: #a8a8a8;
$fontBase: 1.2rem;
$fontMedium: $fontBase + 0.2;
$fontLarge: $fontMedium + 1;

